#actions label, #actions input, #actions select {
    font-family: chinaSmall;
    font-weight: bold;
    position: relative;
    float: left;
    margin-top: 5px;
}

#actions form {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 20px;
    background: #ff8d3f;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#form_transf {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-left: calc(50% - 250px);
    overflow: hidden;
    animation: anim_form_transf;
    animation-duration: 1.4s;
    animation-timing-function: ease;
}

#form_transf label, #form_transf input, #form_transf select {
    width: 50%;
    height: 30px;
}

#form_transf input[type=number] {
    width: calc(50% - 16px);
}

#form_transf input[type=submit] {
    width: 50%;
    margin: 0 25% 0 25%;
    margin-top: 30px;
}

@keyframes anim_form_transf {
    0% {
        margin-left: -5000px;
    }
    100% {
        margin-left: calc(50% - 250px);
    }
}
