*
{
    margin: 0;
}
body
{
    font-family: china_small;
}
body,
html
{
    width: 100%;

    background: #d6d5d2;
}
/* login style */
#login
{
    width: 300px;
    margin: auto;
    padding: 10px;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #593119;
}
#login #form
{
    width: 100%;
}
#login input
{
    font-size: 20pt;

    width: 300px;
    height: 50px;
    margin-top: 10px;
}
#login .btn_login
{
    width: 150px;
    margin-left: 74px;
}

/* Dashboard style */
/* body */
#dashb
{
    width: 100%;
    height: 100%;
}
#dashb #header
{
    font-size: 32pt;
    font-weight: normal;

    width: 100%;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;

    color: #fff;
    background: #a66226;
}
#dashboard
{
    width: 100%;
    height: 90%;
}
#dashboard img
{
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}


/* Pricipal sites style*/
@font-face {
    font-family: fancyChina;
    src: url('src/fonts/fancy china.ttf');
}

@font-face {
    font-family: chinaSmall;
    src: url('src/fonts/fancy small.ttf');
}

.container {
    font-family: chinaSmall;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

#content {
    width: 100%;
    height: 100%;
}

.container header {
    width: 100%;
    height: 70px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: #ff8d3f;
}

.container header span {
    font-family: fancyChina;
    font-size: 40pt;
    font-weight: bold;
    line-height: 70px;
    vertical-align: middle;
}

.container .controls, .container .main {
    position: relative;
    float: left;
}

.container .controls {
    width: 30%;
    height: calc(100% - 90px);
    background: #353c3f;
}

.container .controls button {
    width: calc(100% - 20px);
    margin: 5px 10px;
    padding: 10px 0;
}

.container .controls b {
    margin-top: 5px;
}

.container .main {
    width: 70%;
    height: calc(100% - 90px);
}

.container_hide {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#actions {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: collapse;
}

.form_show {
    visibility: visible;
}

.form_hide {
    visibility: collapse;
}
