.main_content {
    overflow: auto;
}

.order, .order div, .order p {
    position: relative;
    float: left;
}

.order {
    background: #fff;
    width: calc(50% - 60px);
    height: 400px;
    margin: 10px;
    padding: 20px;
}

.order .dishes .header, .order .dishes .list, .order .dish, .order .bill, .order .bill .subtotal, .order .bill .tax, .order .bill .total {
    width: 100%;
}

.order .header {
    background: #ddd;
    width: 100%;
    height: 50px;
}

.order .header .title {
    padding: 10px;
    color: #000;
    margin: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: calc(50% - 20px);
    text-align: center;
}

.order .dishes {
    width: 100%;
    height: 200px;
    overflow: auto;
}

.order .dishes .header {
    width: calc(100% - 20px);
    padding: 10px;
}

.order .dishes .header p {
    margin: 0;
}

.order .dishes .name {
    width: 40%;
}

.order .dishes .quantity, .order .dishes .price, .order .dishes .subtotal {
    width: 20%;
}

.main_content #menu, .main_content #orders {
    position: relative;
    float: left;
}

.main_content #menu, .main_content #orders {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.main_content #menu p, .main_content #orders p {
    height: 40px;
    text-align: center;
    color: #fafdfb;
    font-size: 20pt;
    margin: 0;
    padding: 5px;
    background: #1a562b;
}

.main_content #menu button {
    font-size: 14pt;
    width: 100%;
    margin: 0;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background: #38b85d;
    transition: 0.5s;
}

.main_content #menu button:hover {
    padding: 20px;
    font-size: 18pt;
    background: #45c76a;
    transition: 0.5s;
}

.main_content #orders #dishes {
    width: 100%;
    height: calc(100% - 80px);
}

.main_content #orders #dishes button{
  padding: 10px;
  width: calc(100% - 20px);
  margin: 10px;
}

.main_content #orders form{
  height: 40px;
}
