.container {
    width: 100%;
    height: 100%;
}

.hamburger, .title, .options, .options_menu, .actions, .main, .main_header, .main_content {
    position: relative;
    float: left;
}

.header {
    width: 100%;
    height: 80px;
    background: #353c3f;
}

.hamburger {
    overflow: hidden;
    cursor: pointer;
    opacity: .8;
}

.hamburger img {
    width: 0;
    height: 0;
    opacity: .85;
}

.header .title {
    width: calc(100% - 80px);
    height: 100%;
    color: #fff;
}

.header .title p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 32pt;
    line-height: 80px;
}

.options {
    z-index: 100;
    width: 80px;
    height: 80px;
}

.options p{
  padding: 0; margin: 0;
  color: #fff;
  cursor: pointer;
}
.options li{
  cursor: pointer;
}

.options ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.options .btn {
    width: 80px;
    height: 80px;
}

.options .btn img {
    width: 60px;
    height: 60px;
    padding: 10px;
    transition: 0.5s;
    opacity: .7;
}

.options .btn img:hover {
    transition: .5s;
    background: #41494d;
}

.options ul li ul {
    display: none;
    margin-top: -5px;
    transition: 1s;
    transition: 0.5s;
}

.options ul li:hover ul {
    display: block;
    margin-top: -5px;
    transition: 1s;
    transition: 0.5s;
}

.options ul li ul li {
    float: right;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #353c3f;
    transition: 0.5s;
}

.options ul li ul li:hover {
    background: #41494d;
    transition: 0.5s;
}

.options ul li ul li p {
    color: #fff;
}

.actions {
    overflow: auto;
    width: 400px;
    height: calc(100% - 80px);
    background: #756867;
}

.actions button {
    width: calc(100% - 30px * 2);
    height: 60px;
    margin: 30px;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
    transition: .5s;
    color: #fffaf7;
    border: none;
    border-radius: 2000000px;
    background: #353c3f;
    font-size: 24pt;
}

.actions button:hover {
    transition: 0.5s;
    color: #fff;
    background: #353c3f;
}

.main {
    overflow: hidden;
    width: calc(100% - 400px);
    height: calc(100% - 80px);
}

.main_header {
    width: 100%;
    height: 70px;
    background: #8f8180;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.main_header p {
    color: #fff;
    font-size: 18pt;
}

.main_content {
    width: 100%;
    height: calc(100% - 70px);
}

@media only screen and (max-width: 1360px) {
    .actions button {
        height: 75px;
    }
}

@media only screen and (max-width: 1280px) {
    .actions button {
        width: calc(100% - 30px * 2);
        height: 75px;
        margin: 30px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 800px) {
    .header .title {
        width: calc(100% - 160px);
    }
    .options {
        width: 80px;
        height: 80px;
    }
    .hamburger {
        width: 80px;
        height: 80px;
    }
    .hamburger img {
        width: 60px;
        height: 60px;
        margin: 10px;
    }
    .main {
        width: 100%;
    }
    .actions {
        visibility: collapse;
        width: 0;
        height: 0;
    }
}
