<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="templates/css/cardbox.css" media="screen" title="no title">
    <title><?php echo $title; ?></title>
  </head>
  <body>
    <header>
      <!--<img src="img/restaurant.svg" alt="">-->
      <h1>Inventory Master</h1>
      <div id="user_info">
        <span id="user_photo"><img src="" alt="" /></span>
        <span id="user_name">El caquitas</span>
        <span id="user_fullname">Kaka Garcia</span>
      </div>
    </header>
    <nav>
      <ul>
        <li class='card'><a href="">
            <span class="image"><img src="img/box.svg" alt=""></span>
            <span class="title">Inventory</span>
          </a></li>
        <li class='card'><a href="">
            <span class="image"><img src="img/payment-method.svg" alt=""></span>
            <span class="title">Sales</span>
          </a></li>
        <li class='card'><a href="">
            <span class="image"><img src="img/receipt.svg" alt=""></span>
            <span class="title">Orders</span>
          </a></li>
        <li class='card'><a href="">
            <span class="image"><img src="img/harvest.svg" alt=""></span>
            <span class="title">Products</span>
          </a></li>
        <li class='card'><a href="">
            <span class="image"><img src="img/employee.svg" alt=""></span>
            <span class="title">Employees</span>
          </a></li>
        <li class='card'><a href="">
            <span class="image"><img src="img/stats.svg" alt=""></span>
            <span class="title">Graphs</span>
          </a></li>
      </ul>
    </nav>
