<link rel="stylesheet" href="css/cardbox.css" media="screen" title="no title">
<nav>
  <ul>
    <li class='card'><a href="">
        <span class="image"><img src="../img/carts.svg" alt=""></span>
        <span class="title">Inventory</span>
      </a></li>
    <li class='card'><a href="">
        <span class="image"><img src="../img/payment-method.svg" alt=""></span>
        <span class="title">Sales</span>
      </a></li>
    <li class='card'><a href="">
        <span class="image"><img src="../img/receipt.svg" alt=""></span>
        <span class="title">Orders</span>
      </a></li>
    <li class='card'><a href="">
        <span class="image"><img src="../img/harvest.svg" alt=""></span>
        <span class="title">Products</span>
      </a></li>
    <li class='card'><a href="">
        <span class="image"><img src="../img/employee.svg" alt=""></span>
        <span class="title">Employees</span>
      </a></li>
    <li class='card'><a href="">
        <span class="image"><img src="../img/stats.svg" alt=""></span>
        <span class="title">Graphs</span>
      </a></li>
  </ul>
</nav>
